<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{__ 'add_course'}}</title>
  
</head>
<Style>
.section{
  padding-left: 500px;
  padding-right: 500px;
}
  @media (max-width: 768px) {
   .section{
  padding-left: 50px;
  padding-right: 50px;
}
  }
</Style>
<body>
  <div class="section" style=" padding-top: 300px;">
  <h1>{{__ 'add_course'}}</h1>

  <form action="/add" method="POST">
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate" required>
      <label for="title">{{__ 'title'}}</label>
      <span class="helper-text" data-error="Enter title"></span>
    </div>

    <div class="input-field">
      <input id="price" name="price" type="number" step="0.01" class="validate" required min="1">
      <label for="price">{{__ 'price'}}</label>
      <span class="helper-text" data-error="Enter price"></span>
    </div>
    <div class="input-field">
      <input id="sale" name="sale" type="number" step="0.01" class="validate" required min="0" value="0">
      <label for="sale">{{__ 'sale'}}</label>
      <span class="helper-text" data-error="Enter sale"></span>
    </div>

    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" required>
      <label for="img">{{__ 'image_url'}}</label>
      <span class="helper-text" data-error="Enter image URL"></span>
    </div>

    <div class="input-field">
      <textarea id="description" name="description" class="materialize-textarea"></textarea>
      <label for="description">{{__ 'description'}}</label>
    </div>

    <div class="input-field">
      <input id="category" name="category" type="text" class="validate" required>
      <label for="category">{{__ 'category'}}</label>
      <span class="helper-text" data-error="Enter category"></span>
    </div>
    <div class="input-field">
      <input id="gpu" name="gpu" type="text" class="validate" required>
      <label for="gpu">{{__ 'gpu'}}</label>
      <span class="helper-text" data-error="Enter gpu"></span>
    </div>
    <div class="input-field">
      <input id="cpu" name="cpu" type="text" class="validate" required>
      <label for="cpu">{{__ 'cpu'}}</label>
      <span class="helper-text" data-error="Enter cpu"></span>
    </div>
    <div class="input-field">
      <input id="rum" name="rum" type="text" class="validate" required>
      <label for="rum">{{__ 'rum'}}</label>
      <span class="helper-text" data-error="Enter rum"></span>
    </div>
    <div class="input-field">
      <input id="ssd" name="ssd" type="text" class="validate" required>
      <label for="ssd">{{__ 'ssd'}}</label>
      <span class="helper-text" data-error="Enter ssd"></span>
    </div>

    <button class="btn btn-primary">{{__ 'add_button'}}</button>
  </form>
  </div>
</body>
</html>


