<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container" style="padding-top: 200px;">
    <h1>{{title}}</h1>
    {{#if courses.length}}
      <ul>
        {{#each courses}}
          <li>
            <p>product: {{this.title}}</p>
            <p>price: {{this.price}} eur.</p>
            <form action="/favorites/remove" method="POST">
              <input type="hidden" name="courseId" value="{{this._id}}">
              <button type="submit">Удалить из понравившихся</button>
            </form>
             <form action="/card/add" method="POST" style="display:inline;">
              <input type="hidden" name="id" value="{{this._id}}">
              <button type="submit" class="btn btn-primary">{{__ 'Buy'}}</button>
            </form>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>У вас пока нет понравившихся курсов.</p>
    {{/if}}
  </div>
</body>
</html>
