<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    .container {
      margin: 0 auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding-bottom: 100px;
    }

    .container > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .container > ul > li {
      margin: 20px auto; /* vertical spacing and center horizontally */
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 60%; /* make the order item narrower */
      background-color: #fafafa;
    }

    .container > ul > li > ul {
      list-style-type: none;
      padding: 0;
    }

    .container > ul > li > ul > li {
      margin-bottom: 10px; /* spacing between products in an order */
    }

    .container > ul > li > p {
      margin: 5px 0;
    }

    .container > ul > li > p:first-child {
      font-weight: bold;
      color: #555;
    }

    .container > ul > li > p:last-child {
      color: #777;
    }

    .first-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding: 20px;
      background-image: url("/image.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
    }

    h1 {
      text-align: center;
      font-size: 80px;
      color: #EFAD12;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="first-section">
        <h1>{{__ 'Orders'}}</h1>
    </div>

    {{#if orders.length}}
      <ul>
        {{#each orders}}
          <li>
            <p>Order created: {{date}}</p>
            <p>Total price: {{totalPrice}} EUR</p>
            <p>Pickup point: {{deliveryPoint}}</p>
            <ul>
              {{#each products}}
                <li>
                  <p>Product: {{this.title}}</p>
                  {{#if this.sale}}
                    <p style="color: #080808;">Price: {{this.sale}} EUR</p>
                  {{/if}}
                  {{#unless this.sale}}
                    <p style="color: #080808;">Price: {{this.price}} EUR</p>
                  {{/unless}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p style="text-align: center;">You don't have any orders yet.</p>
    {{/if}}
  </div>
</body>
</html>
