<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 80%;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .container > ul {
      list-style-type: none;
      padding: 0;
    }

    .container > ul > li {
      margin-bottom: 20px; /* Отступ между заказами */
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .container > ul > li > ul {
      list-style-type: none;
      padding: 0;
    }

    .container > ul > li > ul > li {
      margin-bottom: 10px; /* Отступ между курсами в заказе */
    }

    .container > ul > li > p {
      margin: 5px 0;
    }

    .container > ul > li > p:first-child {
      font-weight: bold;
      color: #555;
    }

    .container > ul > li > p:last-child {
      color: #777;
    }
  </style>
</head>
<body>
  <div class="container" style="min-height: 1500px; padding: 200px; padding-top: 500px;" >
    <h1>{{title}}</h1>

    {{#if orders.length}}
      <ul>
  {{#each orders}}
    <li>
      <p>Заказ создан: {{date}}</p>
      <p>Итоговая цена: {{totalPrice}} eur.</p>
      <p>Точка выдачи: {{deliveryPoint}}</p>
      <ul>
        {{#each products}}
          <li>
            <p>prod: {{this.title}}</p>
            {{#if this.sale}}
              <p style="color: #080808;">Цена: {{this.sale}} eur.</p>
            {{/if}}
            {{#unless this.sale}}
              <p  style="color: #080808;">Цена: {{this.price}} eur.</p>
            {{/unless}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

    {{else}}
      <p>У вас пока нет заказов.</p>
    {{/if}}
  </div>

</body>
</html>
